* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header{
    background-color: #540250;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section{
    padding: 20px;
    margin: 20px 0;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

form input[type="text"],form input[type="email"]{
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
}

form input[type="submit"]{
    background-color: #540250;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover{
    background-color: #540250;
}

/* From Uiverse.io by barisdogansutcu */ 

.enviar {
    
}

button {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 50px;
 position: relative;
 padding: 0 20px;
 font-size: 18px;
 text-transform: uppercase;
 border: 0;
 box-shadow: #540250;
 background-color: #540250;
 border-radius: 12px;
 overflow: hidden;
 transition: 31ms cubic-bezier(.5, .7, .4, 1);
}

button:before {
 content: attr(alt);
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 inset: 0;
 font-size: 15px;
 font-weight: bold;
 color: white;
 letter-spacing: 4px;
 opacity: 1;
}

button:active {
 box-shadow: none;
 transform: translateY(7px);
 transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

button:hover:before {
 transition: all .0s;
 transform: translateY(100%);
 opacity: 0;
}

button i {
 color: white;
 font-size: 15px;
 font-weight: bold;
 letter-spacing: 4px;
 font-style: normal;
 transition: all 2s ease;
 transform: translateY(-20px);
 opacity: 0;
}

button:hover i {
 transition: all .2s ease;
 transform: translateY(0px);
 opacity: 1;
}

button:hover i:nth-child(1) {
 transition-delay: 0.045s;
}

button:hover i:nth-child(2) {
 transition-delay: calc(0.045s * 3);
}

button:hover i:nth-child(3) {
 transition-delay: calc(0.045s * 4);
}

button:hover i:nth-child(4) {
 transition-delay: calc(0.045s * 5);
}

button:hover i:nth-child(6) {
 transition-delay: calc(0.045s * 6);
}

button:hover i:nth-child(7) {
 transition-delay: calc(0.045s * 7);
}

button:hover i:nth-child(8) {
 transition-delay: calc(0.045s * 8);
}

button:hover i:nth-child(9) {
 transition-delay: calc(0.045s * 9);
}

button:hover i:nth-child(10) {
 transition-delay: calc(0.045s * 10);
}